.buttonText{
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 14px; 
  font-weight: 300; 
  line-height: 58px;
}

.headerText{
  font-family: 'Lato', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 58px;
}

.bodyText{
  font-family: 'Lato', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 58px;
  text-shadow: 10%;
}